In [62]:
import pandas as pd
url = 'https://raw.githubusercontent.com/alura-cursos/numpy/dados/apples_ts.csv'

data = pd.read_csv(url)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 88 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5 non-null      object
 1   1.2013      5 non-null      float64
 2   2.2013      5 non-null      float64
 3   3.2013      5 non-null      float64
 4   4.2013      5 non-null      float64
 5   5.2013      4 non-null      float64
 6   6.2013      5 non-null      float64
 7   7.2013      5 non-null      float64
 8   8.2013      5 non-null      float64
 9   9.2013      5 non-null      float64
 10  10.2013     5 non-null      float64
 11  11.2013     5 non-null      float64
 12  12.2013     5 non-null      float64
 13  1.2014      5 non-null      float64
 14  2.2014      5 non-null      float64
 15  3.2014      5 non-null      float64
 16  4.2014      5 non-null      float64
 17  5.2014      5 non-null      float64
 18  6.2014      5 non-null      float64
 19  7.2014      5 non-null      float64
 20  8.2014      5 non-null      float64
 21  9.2014      5 non-null      float64
 22  10.2014     5 non-null      float64
 23  11.2014     5 non-null      float64
 24  12.2014     5 non-null      float64
 25  1.2015      5 non-null      float64
 26  2.2015      5 non-null      float64
 27  3.2015      5 non-null      float64
 28  4.2015      5 non-null      float64
 29  5.2015      5 non-null      float64
 30  6.2015      5 non-null      float64
 31  7.2015      5 non-null      float64
 32  8.2015      5 non-null      float64
 33  9.2015      5 non-null      float64
 34  10.2015     5 non-null      float64
 35  11.2015     5 non-null      float64
 36  12.2015     5 non-null      float64
 37  1.2016      5 non-null      float64
 38  2.2016      5 non-null      float64
 39  3.2016      5 non-null      float64
 40  4.2016      5 non-null      float64
 41  5.2016      5 non-null      float64
 42  6.2016      5 non-null      float64
 43  7.2016      5 non-null      float64
 44  8.2016      5 non-null      float64
 45  9.2016      5 non-null      float64
 46  10.2016     5 non-null      float64
 47  11.2016     5 non-null      float64
 48  12.2016     5 non-null      float64
 49  1.2017      5 non-null      float64
 50  2.2017      5 non-null      float64
 51  3.2017      5 non-null      float64
 52  4.2017      5 non-null      float64
 53  5.2017      5 non-null      float64
 54  6.2017      5 non-null      float64
 55  7.2017      5 non-null      float64
 56  8.2017      5 non-null      float64
 57  9.2017      5 non-null      float64
 58  10.2017     5 non-null      float64
 59  11.2017     5 non-null      float64
 60  12.2017     5 non-null      float64
 61  1.2018      5 non-null      float64
 62  2.2018      5 non-null      float64
 63  3.2018      5 non-null      float64
 64  4.2018      5 non-null      float64
 65  5.2018      5 non-null      float64
 66  6.2018      5 non-null      float64
 67  7.2018      5 non-null      float64
 68  8.2018      5 non-null      float64
 69  9.2018      5 non-null      float64
 70  10.2018     5 non-null      float64
 71  11.2018     5 non-null      float64
 72  12.2018     5 non-null      float64
 73  1.2019      5 non-null      float64
 74  2.2019      5 non-null      float64
 75  3.2019      5 non-null      float64
 76  4.2019      5 non-null      float64
 77  5.2019      5 non-null      float64
 78  6.2019      5 non-null      float64
 79  7.2019      5 non-null      float64
 80  8.2019      5 non-null      float64
 81  9.2019      5 non-null      float64
 82  10.2019     5 non-null      float64
 83  11.2019     5 non-null      float64
 84  12.2019     5 non-null      float64
 85  1.2020      5 non-null      float64
 86  2.2020      5 non-null      float64
 87  3.2020      5 non-null      float64
dtypes: float64(87), object(1)
memory usage: 3.6+ KB

In [63]:
data = data.rename(columns={'Unnamed: 0': 'Month/Year'})

In [66]:
data = data.set_index('Month/Year')

In [68]:
data = data.T
data

Month/Year  Moscow  Kaliningrad  Petersburg  Krasnodar  Ekaterinburg
1.2013       79.72        42.67       62.55      48.26         71.25
2.2013       81.08        44.37       62.73      51.01         71.35
3.2013       79.68        44.73       63.43      50.91         70.90
4.2013       79.80        46.75       63.83      53.94         71.92
5.2013       80.63          NaN       66.06      61.27         72.91
...            ...          ...         ...        ...           ...
11.2019      97.83        78.98       95.75      68.11         96.25
12.2019     101.07        76.55       97.09      73.48        100.12
1.2020      103.44        74.89       98.18      82.04        101.29
2.2020      108.23        70.00      103.10      81.19        102.81
3.2020      110.28        81.53      110.60      95.05        108.53

[87 rows x 5 columns]

In [ ]:
apples_2013 = data.iloc[:12]
apples_2014 = data.iloc[12:24]
apples_2015 = data.iloc[24:36]
apples_2016 = data.iloc[36:48]
apples_2017 = data.iloc[48:60]
apples_2018 = data.iloc[60:72]
apples_2019 = data.iloc[72:84]
apples_2020 = data.iloc[84:]

In [93]:
apples = [data.iloc[x: x+12] for x in range(0, 88, 12)]

In [96]:
apples

[Month/Year  Moscow  Kaliningrad  Petersburg  Krasnodar  Ekaterinburg
 1.2013       79.72        42.67       62.55      48.26         71.25
 2.2013       81.08        44.37       62.73      51.01         71.35
 3.2013       79.68        44.73       63.43      50.91         70.90
 4.2013       79.80        46.75       63.83      53.94         71.92
 5.2013       80.63          NaN       66.06      61.27         72.91
 6.2013       80.80        51.59       69.22      65.44         74.39
 7.2013       80.28        57.80       72.07      56.51         73.10
 8.2013       78.99        62.14       69.31      53.00         70.24
 9.2013       76.77        56.76       65.18      43.87         69.12
 10.2013      76.09        50.85       62.13      42.12         68.98
 11.2013      76.36        46.43       64.17      43.98         68.58
 12.2013      77.16        46.73       65.50      44.66         69.50,
 Month/Year  Moscow  Kaliningrad  Petersburg  Krasnodar  Ekaterinburg
 1.2014       77.50        45.85       66.85      47.73         70.14
 2.2014       79.03        49.25       68.38      52.31         70.58
 3.2014       80.28        48.14       68.77      56.80         70.78
 4.2014       80.05        49.18       69.32      51.15         72.78
 5.2014       78.11        49.49       69.77      54.63         72.84
 6.2014       76.90        49.83       70.17      55.80         74.74
 7.2014       77.68        49.14       70.76      57.31         76.43
 8.2014       76.05        63.21       75.16      53.81         81.20
 9.2014       75.53        61.20       74.86      55.50         82.04
 10.2014      73.39        60.34       71.47      52.95         79.67
 11.2014      78.36        62.20       76.08      53.29         81.25
 12.2014      89.16        74.20       82.11      54.86         85.88,
 Month/Year  Moscow  Kaliningrad  Petersburg  Krasnodar  Ekaterinburg
 1.2015      105.43        75.32       94.63      71.72         91.35
 2.2015      104.82        75.92       98.54      74.36        101.32
 3.2015      101.15        72.89       97.84      78.25        102.45
 4.2015       98.63        74.85       94.54      70.63         98.18
 5.2015       99.96        92.19       97.88      77.06        105.10
 6.2015       97.29        99.70       97.73      81.52        104.85
 7.2015       98.64       102.78      100.89      84.12        111.48
 8.2015      104.26        92.67      104.88      83.33        118.51
 9.2015      102.63        90.63      104.39      66.98        118.92
 10.2015      98.64        83.31      101.90      62.04        109.87
 11.2015      97.17        75.50       98.99      59.79        105.22
 12.2015      98.09        74.60       99.42      66.06        105.45,
 Month/Year  Moscow  Kaliningrad  Petersburg  Krasnodar  Ekaterinburg
 1.2016      103.07        76.94      106.37      71.99        115.61
 2.2016      110.26        83.04      113.89      76.79        116.61
 3.2016      110.84        80.74      114.78      80.98        120.39
 4.2016      112.28        80.29      115.60      89.18        119.20
 5.2016      111.10        82.82      115.89      92.71        119.92
 6.2016      110.06        86.29      117.66      94.85        120.57
 7.2016      113.70        87.41      118.27      99.18        123.37
 8.2016      112.88        85.10      114.19      86.33        121.39
 9.2016      102.08        78.08      101.81      71.94        118.16
 10.2016      95.54        76.06       91.62      67.18        108.84
 11.2016      91.33        69.23       90.15      62.98        100.78
 12.2016      89.99        69.04       90.55      69.45         99.92,
 Month/Year  Moscow  Kaliningrad  Petersburg  Krasnodar  Ekaterinburg
 1.2017       91.44        64.48       92.30      67.56        100.65
 2.2017       93.51        65.73       91.75      67.92         98.92
 3.2017       93.60        67.20       92.00      68.40        100.31
 4.2017       93.78        70.25       92.57      67.97         96.41
 5.2017       98.91        82.59      100.28      76.33        101.24
 6.2017      121.76        92.12      114.33      95.79        118.70
 7.2017      129.60       100.82      122.17     112.36        133.29
 8.2017      127.90        95.23      117.83      82.03        130.31
 9.2017      114.55        89.51      112.49      73.83        122.40
 10.2017     101.88        82.84       93.70      66.12        104.98
 11.2017      99.09        82.30       97.17      63.24        107.54
 12.2017     103.35        83.76       95.64      63.98        110.74,
 Month/Year  Moscow  Kaliningrad  Petersburg  Krasnodar  Ekaterinburg
 1.2018      106.58        84.72      102.21      69.10        110.51
 2.2018      108.00        83.91      107.58      70.04        111.46
 3.2018      114.95        99.14      110.48      80.03        113.42
 4.2018      121.17       101.60      117.73      87.92        118.15
 5.2018      122.48       113.03      122.07      97.07        114.00
 6.2018      127.58       119.54      128.58     106.52        124.91
 7.2018      131.89       118.09      131.12     108.93        126.06
 8.2018      129.36       107.32      127.08      95.17        123.30
 9.2018      104.26        82.60      110.99      74.31        111.61
 10.2018      93.45        77.40       97.43      62.63         98.82
 11.2018      92.93        71.77       92.05      69.92         97.47
 12.2018      96.15        71.25       93.21      70.58        103.01,
 Month/Year  Moscow  Kaliningrad  Petersburg  Krasnodar  Ekaterinburg
 1.2019       99.10        71.35       98.58      74.63        109.36
 2.2019      103.00        73.62      100.23      78.69        104.79
 3.2019      103.31        76.20      102.09      81.82        105.09
 4.2019      103.01        74.15      101.73      82.36        103.16
 5.2019      107.37        75.67      107.28      89.44        106.52
 6.2019      116.91        79.20      115.35     102.01        121.68
 7.2019      125.29        80.85      123.03     116.12        125.32
 8.2019      123.94        85.33      123.08      92.06        123.41
 9.2019      113.03        75.02      109.71      82.70        108.48
 10.2019     102.19        77.95       97.22      66.62         98.73
 11.2019      97.83        78.98       95.75      68.11         96.25
 12.2019     101.07        76.55       97.09      73.48        100.12,
 Month/Year  Moscow  Kaliningrad  Petersburg  Krasnodar  Ekaterinburg
 1.2020      103.44        74.89       98.18      82.04        101.29
 2.2020      108.23        70.00      103.10      81.19        102.81
 3.2020      110.28        81.53      110.60      95.05        108.53]