Etapa 1

#### Projeto desafio 2: administração de condomínios

A administração de condomínios é uma tarefa que requer muita atenção e organização. Entre as diversas responsabilidades da gestão está o recebimento dos aluguéis dos locatários. Para garantir uma boa saúde financeira do empreendimento, é fundamental que esses pagamentos sejam feitos de forma regular e pontual. No entanto, sabemos que nem sempre isso acontece.

Pensando nisso, proponho um desafio de tratamento de dados com o objetivo de analisar o atraso no pagamento de aluguéis no condomínio de alguns moradores. Disponibilizo a base de dados dados_locacao_imoveis.json, que contém informações sobre o apartamento dos locatários, o dia acordado para o pagamento do aluguel, o dia da efetivação do pagamento de aluguel e o valor do aluguel.

Com essas informações, o desafio do projeto 2: administração de condomínios será similar ao desafio do projeto 1, abrir a base de dados com Pandas e aplicar o json_normalize no DataFrame.

In [12]:
import pandas as pd
import numpy as np
import requests
import io
url = 'https://cdn3.gnarususercontent.com.br/2928-transformacao-manipulacao-dados/dados_locacao_imoveis.json'
response = requests.get(url)

json = io.StringIO(response.text)

dados = pd.read_json(json)
dados

                                        dados_locacao
0   {'apartamento': 'A101 (blocoAP)', 'datas_combi...
1   {'apartamento': 'A102 (blocoAP)', 'datas_combi...
2   {'apartamento': 'B201 (blocoAP)', 'datas_combi...
3   {'apartamento': 'B202 (blocoAP)', 'datas_combi...
4   {'apartamento': 'C301 (blocoAP)', 'datas_combi...
5   {'apartamento': 'C302 (blocoAP)', 'datas_combi...
6   {'apartamento': 'D401 (blocoAP)', 'datas_combi...
7   {'apartamento': 'D402 (blocoAP)', 'datas_combi...
8   {'apartamento': 'E501 (blocoAP)', 'datas_combi...
9   {'apartamento': 'E502 (blocoAP)', 'datas_combi...
10  {'apartamento': 'F601 (blocoAP)', 'datas_combi...
11  {'apartamento': 'F602 (blocoAP)', 'datas_combi...
12  {'apartamento': 'G701 (blocoAP)', 'datas_combi...
13  {'apartamento': 'G702 (blocoAP)', 'datas_combi...
14  {'apartamento': 'H801 (blocoAP)', 'datas_combi...

In [13]:
dados = pd.json_normalize(dados['dados_locacao'])
dados

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),"[01/06/2022, 01/07/2022]","[05/06/2022, 03/07/2022]","[$ 1000,0 reais, $ 2500,0 reais]"
1,A102 (blocoAP),"[02/06/2022, 02/07/2022]","[02/06/2022, 06/07/2022]","[$ 1100,0 reais, $ 2600,0 reais]"
2,B201 (blocoAP),"[03/06/2022, 03/07/2022]","[07/06/2022, 03/07/2022]","[$ 1200,0 reais, $ 2700,0 reais]"
3,B202 (blocoAP),"[04/06/2022, 04/07/2022]","[07/06/2022, 05/07/2022]","[$ 1300,0 reais, $ 2800,0 reais]"
4,C301 (blocoAP),"[05/06/2022, 05/07/2022]","[10/06/2022, 09/07/2022]","[$ 1400,0 reais, $ 2900,0 reais]"
5,C302 (blocoAP),"[06/06/2022, 06/07/2022]","[08/06/2022, 12/07/2022]","[$ 1500,0 reais, $ 1200,0 reais]"
6,D401 (blocoAP),"[07/06/2022, 07/07/2022]","[07/06/2022, 09/07/2022]","[$ 1600,0 reais, $ 1300,0 reais]"
7,D402 (blocoAP),"[08/06/2022, 08/07/2022]","[10/06/2022, 14/07/2022]","[$ 1700,0 reais, $ 1400,0 reais]"
8,E501 (blocoAP),"[09/06/2022, 09/07/2022]","[10/06/2022, 09/07/2022]","[$ 1800,0 reais, $ 1500,0 reais]"
9,E502 (blocoAP),"[10/06/2022, 10/07/2022]","[16/06/2022, 12/07/2022]","[$ 1900,0 reais, $ 1600,0 reais]"
10,F601 (blocoAP),"[11/06/2022, 11/07/2022]","[17/06/2022, 13/07/2022]","[$ 2000,0 reais, $ 1000,0 reais]"
11,F602 (blocoAP),"[12/06/2022, 12/07/2022]","[15/06/2022, 12/07/2022]","[$ 2100,0 reais, $ 1100,0 reais]"
12,G701 (blocoAP),"[13/06/2022, 13/07/2022]","[19/06/2022, 20/07/2022]","[$ 2200,0 reais, $ 1200,0 reais]"
13,G702 (blocoAP),"[14/06/2022, 14/07/2022]","[15/06/2022, 17/07/2022]","[$ 2300,0 reais, $ 2100,0 reais]"
14,H801 (blocoAP),"[15/06/2022, 15/07/2022]","[18/06/2022, 16/07/2022]","[$ 2400,0 reais, $ 2200,0 reais]"

Projeto desafio 2: administração de condomínios
Lemos a base de dados no desafio anterior, agora podemos avançar nas transformações desses dados. Então, da mesma forma que o projeto 1, o desafio do projeto 2 está listado em algumas metas:

Remover os dados em listas dentro do DataFrame;
Verificar os tipos de dados;
Identificar colunas numéricas;
Transformar a coluna numérica para o tipo numérico.

In [14]:
# Lista com nomes das colunas para fazer explode
columns_explode = list(dados.columns[1:])

# Fazendo explode nas colunas e resetando indices
dados = dados.explode(column=columns_explode).reset_index( drop=True)
dados

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),01/06/2022,05/06/2022,"$ 1000,0 reais"
1,A101 (blocoAP),01/07/2022,03/07/2022,"$ 2500,0 reais"
2,A102 (blocoAP),02/06/2022,02/06/2022,"$ 1100,0 reais"
3,A102 (blocoAP),02/07/2022,06/07/2022,"$ 2600,0 reais"
4,B201 (blocoAP),03/06/2022,07/06/2022,"$ 1200,0 reais"
5,B201 (blocoAP),03/07/2022,03/07/2022,"$ 2700,0 reais"
6,B202 (blocoAP),04/06/2022,07/06/2022,"$ 1300,0 reais"
7,B202 (blocoAP),04/07/2022,05/07/2022,"$ 2800,0 reais"
8,C301 (blocoAP),05/06/2022,10/06/2022,"$ 1400,0 reais"
9,C301 (blocoAP),05/07/2022,09/07/2022,"$ 2900,0 reais"
10,C302 (blocoAP),06/06/2022,08/06/2022,"$ 1500,0 reais"
11,C302 (blocoAP),06/07/2022,12/07/2022,"$ 1200,0 reais"
12,D401 (blocoAP),07/06/2022,07/06/2022,"$ 1600,0 reais"
13,D401 (blocoAP),07/07/2022,09/07/2022,"$ 1300,0 reais"
14,D402 (blocoAP),08/06/2022,10/06/2022,"$ 1700,0 reais"
15,D402 (blocoAP),08/07/2022,14/07/2022,"$ 1400,0 reais"
16,E501 (blocoAP),09/06/2022,10/06/2022,"$ 1800,0 reais"
17,E501 (blocoAP),09/07/2022,09/07/2022,"$ 1500,0 reais"
18,E502 (blocoAP),10/06/2022,16/06/2022,"$ 1900,0 reais"
19,E502 (blocoAP),10/07/2022,12/07/2022,"$ 1600,0 reais"
20,F601 (blocoAP),11/06/2022,17/06/2022,"$ 2000,0 reais"
21,F601 (blocoAP),11/07/2022,13/07/2022,"$ 1000,0 reais"
22,F602 (blocoAP),12/06/2022,15/06/2022,"$ 2100,0 reais"
23,F602 (blocoAP),12/07/2022,12/07/2022,"$ 1100,0 reais"
24,G701 (blocoAP),13/06/2022,19/06/2022,"$ 2200,0 reais"
25,G701 (blocoAP),13/07/2022,20/07/2022,"$ 1200,0 reais"
26,G702 (blocoAP),14/06/2022,15/06/2022,"$ 2300,0 reais"
27,G702 (blocoAP),14/07/2022,17/07/2022,"$ 2100,0 reais"
28,H801 (blocoAP),15/06/2022,18/06/2022,"$ 2400,0 reais"
29,H801 (blocoAP),15/07/2022,16/07/2022,"$ 2200,0 reais"

In [15]:
# Verificando os tipos das colunas
dados.dtypes

apartamento                   object
datas_combinadas_pagamento    object
datas_de_pagamento            object
valor_aluguel                 object
dtype: object

In [ ]:
# Formatando os dados da coluna valor monetário

dados['valor_aluguel'] = dados['valor_aluguel'].map(lambda x: x.replace('$', '')\
    .replace(',', '.')\
    .replace('reais','').strip())

# Separando as colunas de datas em uma lista
date_columns = ['datas_combinadas_pagamento','datas_de_pagamento']
# Formatando as colunas de data para o formato correto
dados[date_columns] = dados[date_columns].apply(pd.to_datetime, format='%d/%m/%Y')

In [ ]:
dados

       apartamento datas_combinadas_pagamento datas_de_pagamento valor_aluguel
0   A101 (blocoAP)                 2022-06-01         2022-06-05        1000.0
1   A101 (blocoAP)                 2022-07-01         2022-07-03        2500.0
2   A102 (blocoAP)                 2022-06-02         2022-06-02        1100.0
3   A102 (blocoAP)                 2022-07-02         2022-07-06        2600.0
4   B201 (blocoAP)                 2022-06-03         2022-06-07        1200.0
5   B201 (blocoAP)                 2022-07-03         2022-07-03        2700.0
6   B202 (blocoAP)                 2022-06-04         2022-06-07        1300.0
7   B202 (blocoAP)                 2022-07-04         2022-07-05        2800.0
8   C301 (blocoAP)                 2022-06-05         2022-06-10        1400.0
9   C301 (blocoAP)                 2022-07-05         2022-07-09        2900.0
10  C302 (blocoAP)                 2022-06-06         2022-06-08        1500.0
11  C302 (blocoAP)                 2022-07-06         2022-07-12        1200.0
12  D401 (blocoAP)                 2022-06-07         2022-06-07        1600.0
13  D401 (blocoAP)                 2022-07-07         2022-07-09        1300.0
14  D402 (blocoAP)                 2022-06-08         2022-06-10        1700.0
15  D402 (blocoAP)                 2022-07-08         2022-07-14        1400.0
16  E501 (blocoAP)                 2022-06-09         2022-06-10        1800.0
17  E501 (blocoAP)                 2022-07-09         2022-07-09        1500.0
18  E502 (blocoAP)                 2022-06-10         2022-06-16        1900.0
19  E502 (blocoAP)                 2022-07-10         2022-07-12        1600.0
20  F601 (blocoAP)                 2022-06-11         2022-06-17        2000.0
21  F601 (blocoAP)                 2022-07-11         2022-07-13        1000.0
22  F602 (blocoAP)                 2022-06-12         2022-06-15        2100.0
23  F602 (blocoAP)                 2022-07-12         2022-07-12        1100.0
24  G701 (blocoAP)                 2022-06-13         2022-06-19        2200.0
25  G701 (blocoAP)                 2022-07-13         2022-07-20        1200.0
26  G702 (blocoAP)                 2022-06-14         2022-06-15        2300.0
27  G702 (blocoAP)                 2022-07-14         2022-07-17        2100.0
28  H801 (blocoAP)                 2022-06-15         2022-06-18        2400.0
29  H801 (blocoAP)                 2022-07-15         2022-07-16        2200.0

In [34]:
dados.dtypes

apartamento                           object
datas_combinadas_pagamento    datetime64[ns]
datas_de_pagamento            datetime64[ns]
valor_aluguel                         object
dtype: object

#### Etapa 3

Projeto desafio 2: administração de condomínios
Na etapa 2, trabalhamos na transformação dos dados numéricos. Agora, podemos trabalhar com valores textuais.

Buscando explicar a organização da identificação dos apartamentos, durante a criação do conjunto de dados, foi adicionado o texto (blocoAP). Esse texto informa que os nomes dos apartamentos estão organizados com a letra do bloco seguida do número do apartamento. No entanto, isso não traz nenhuma informação para nossos dados, sendo interessante realizar a remoção desse texto no conjunto de dados.

Com isso, manipule os textos na coluna apartamento para remover o texto (blocoAP) do DataFrame.

In [35]:
dados

       apartamento datas_combinadas_pagamento datas_de_pagamento valor_aluguel
0   A101 (blocoAP)                 2022-06-01         2022-06-05        1000.0
1   A101 (blocoAP)                 2022-07-01         2022-07-03        2500.0
2   A102 (blocoAP)                 2022-06-02         2022-06-02        1100.0
3   A102 (blocoAP)                 2022-07-02         2022-07-06        2600.0
4   B201 (blocoAP)                 2022-06-03         2022-06-07        1200.0
5   B201 (blocoAP)                 2022-07-03         2022-07-03        2700.0
6   B202 (blocoAP)                 2022-06-04         2022-06-07        1300.0
7   B202 (blocoAP)                 2022-07-04         2022-07-05        2800.0
8   C301 (blocoAP)                 2022-06-05         2022-06-10        1400.0
9   C301 (blocoAP)                 2022-07-05         2022-07-09        2900.0
10  C302 (blocoAP)                 2022-06-06         2022-06-08        1500.0
11  C302 (blocoAP)                 2022-07-06         2022-07-12        1200.0
12  D401 (blocoAP)                 2022-06-07         2022-06-07        1600.0
13  D401 (blocoAP)                 2022-07-07         2022-07-09        1300.0
14  D402 (blocoAP)                 2022-06-08         2022-06-10        1700.0
15  D402 (blocoAP)                 2022-07-08         2022-07-14        1400.0
16  E501 (blocoAP)                 2022-06-09         2022-06-10        1800.0
17  E501 (blocoAP)                 2022-07-09         2022-07-09        1500.0
18  E502 (blocoAP)                 2022-06-10         2022-06-16        1900.0
19  E502 (blocoAP)                 2022-07-10         2022-07-12        1600.0
20  F601 (blocoAP)                 2022-06-11         2022-06-17        2000.0
21  F601 (blocoAP)                 2022-07-11         2022-07-13        1000.0
22  F602 (blocoAP)                 2022-06-12         2022-06-15        2100.0
23  F602 (blocoAP)                 2022-07-12         2022-07-12        1100.0
24  G701 (blocoAP)                 2022-06-13         2022-06-19        2200.0
25  G701 (blocoAP)                 2022-07-13         2022-07-20        1200.0
26  G702 (blocoAP)                 2022-06-14         2022-06-15        2300.0
27  G702 (blocoAP)                 2022-07-14         2022-07-17        2100.0
28  H801 (blocoAP)                 2022-06-15         2022-06-18        2400.0
29  H801 (blocoAP)                 2022-07-15         2022-07-16        2200.0

In [38]:
dados['apartamento'] = dados['apartamento'].str.replace('(blocoAP)', '')
dados

   apartamento datas_combinadas_pagamento datas_de_pagamento valor_aluguel
0        A101                  2022-06-01         2022-06-05        1000.0
1        A101                  2022-07-01         2022-07-03        2500.0
2        A102                  2022-06-02         2022-06-02        1100.0
3        A102                  2022-07-02         2022-07-06        2600.0
4        B201                  2022-06-03         2022-06-07        1200.0
5        B201                  2022-07-03         2022-07-03        2700.0
6        B202                  2022-06-04         2022-06-07        1300.0
7        B202                  2022-07-04         2022-07-05        2800.0
8        C301                  2022-06-05         2022-06-10        1400.0
9        C301                  2022-07-05         2022-07-09        2900.0
10       C302                  2022-06-06         2022-06-08        1500.0
11       C302                  2022-07-06         2022-07-12        1200.0
12       D401                  2022-06-07         2022-06-07        1600.0
13       D401                  2022-07-07         2022-07-09        1300.0
14       D402                  2022-06-08         2022-06-10        1700.0
15       D402                  2022-07-08         2022-07-14        1400.0
16       E501                  2022-06-09         2022-06-10        1800.0
17       E501                  2022-07-09         2022-07-09        1500.0
18       E502                  2022-06-10         2022-06-16        1900.0
19       E502                  2022-07-10         2022-07-12        1600.0
20       F601                  2022-06-11         2022-06-17        2000.0
21       F601                  2022-07-11         2022-07-13        1000.0
22       F602                  2022-06-12         2022-06-15        2100.0
23       F602                  2022-07-12         2022-07-12        1100.0
24       G701                  2022-06-13         2022-06-19        2200.0
25       G701                  2022-07-13         2022-07-20        1200.0
26       G702                  2022-06-14         2022-06-15        2300.0
27       G702                  2022-07-14         2022-07-17        2100.0
28       H801                  2022-06-15         2022-06-18        2400.0
29       H801                  2022-07-15         2022-07-16        2200.0

## DATETIME

#### 02 Para saber mais: o tipo datetime

A classe datetime é um tipo de dado que representa uma data e hora específicas em Python. Ela permite trabalhar e manipular dados de ano, mês, dia, hora, minuto, segundo e microssegundo, além de dias da semana, como segunda, terça, quarta, etc. Essa classe é definida no módulo datetime e é fundamental na manipulação de datas e horários em Python. Com ela, é possível realizar operações de cálculo de diferenças entre datas, formatação de datas e horas em diferentes formatos, além de ser muito útil em análises de dados que envolvem séries temporais.

Com a biblioteca Pandas, é possível realizar diversas operações com datas e horários, como a conversão de dados de string para datetime, a filtragem de dados baseada em intervalos de tempo específicos, a agregação de dados por hora, dia, mês ou ano, entre outras funcionalidades. Desse modo, com essa biblioteca, é possível realizar diversas operações com datas de forma simples e eficiente dentro de um conjunto de dados.

Biblioteca datetime
Conseguimos trabalhar diretamente com o datetime através da biblioteca datetime, uma biblioteca padrão do Python que fornece classes para trabalhar com datas e horas. Com essa biblioteca, é possível criar objetos de data e hora, realizar cálculos de tempo, formatar datas e horas em diferentes formatos e muito mais.

Dentro da biblioteca datetime, existe a classe datetime, que representa uma data e hora específicas. Veja um exemplo:

import datetime

# criando um objeto datetime com a data e hora atual
agora = datetime.datetime.now()

print("Data e hora atual:", agora)
Copiar código
Neste exemplo, o método now() da classe datetime é usado para criar um objeto que representa a data e a hora atual. O objeto resultante é armazenado na variável agora e, em seguida, é impresso na tela usando a função print().

Outra classe importante na biblioteca datetime é a classe date, que representa apenas uma data. Veja um exemplo:

import datetime
# criando um objeto date com a data de hoje
hoje = datetime.date.today()

print("Data de hoje:", hoje)
Copiar código
Neste exemplo, o método today() da classe date é usado para criar um objeto que representa a data de hoje. O objeto resultante é armazenado na variável hoje e, em seguida, é impresso na tela usando a função print().

A biblioteca datetime também permite realizar operações matemáticas com datas e horas. Veja um exemplo de como calcular a diferença entre duas datas:

import datetime

# criando dois objetos date com datas diferentes
data_1 = datetime.date(2022, 1, 1)
data_2 = datetime.date(2023, 1, 1)

# calculando a diferença entre as duas datas
diferenca = data_2 - data_1

print("Diferença entre as duas datas:", diferenca)
Copiar código
Neste exemplo, dois objetos date são criados com datas diferentes. Em seguida, o operador de subtração é usado para calcular a diferença entre as duas datas. O resultado é armazenado na variável diferenca e, em seguida, é impresso na tela usando a função print().

Para se aprofundar nos usos do tipo datetime consulte o artigo Python datetime: Como faço para definir data e hora em Python? e também a documentação da biblioteca datetime.